@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

@layer components {
  .gallery-item {
    @apply absolute rounded-lg bg-contain opacity-0 transition left-[3000px];
  }
  .gallery-item-1 {
    @apply z-10 opacity-0 md:opacity-50 left-[15%] -translate-x-1/2 scale-100 w-[550px];
  }
  .gallery-item-2 {
    @apply left-[30%] z-30 opacity-0 md:opacity-90 -translate-x-1/2 transition-all scale-100 w-[650px];
  }
  .gallery-item-3 {
    @apply opacity-100 left-1/2 -translate-x-1/2 z-50 transition-all scale-100 w-[650px] h-[366px];
  }
  .gallery-item-4 {
    @apply -translate-x-1/2 left-[70%] z-30 opacity-0 md:opacity-90 transition-all scale-100 w-[650px];
  }
  .gallery-item-5 {
    @apply -translate-x-1/2 left-[85%] z-10 opacity-0 md:opacity-50 transition-all scale-100 w-[550px];
  }
  .btn {
    @apply bg-slate-500 p-5;
  }
  .bullet {
    @apply w-4 h-4 bg-slate-400 rounded-full cursor-pointer transition;
  }
  .bullet-active {
    @apply bg-slate-500;
  }
}
